body {
    background-color: #fcfcfc;
    font-family: Helvetica;
    text-align: center;
  }
  
  form {
    max-width: 500px;
    background-color: olive;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    /* color: #fcfcfc; */
  }
  
  .form-control {
    margin: 10px 0;
    text-align: left;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #ff6347;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #ff4500;
  }
  
.box{
    width: auto;
}